policy_module(encocoin, 1.100.1)

########################################
#
# Declarations
#

type encocoin_t;
type encocoin_exec_t;
init_daemon_domain(encocoin_t, encocoin_exec_t)

permissive encocoin_t;

type encocoin_initrc_exec_t;
init_script_file(encocoin_initrc_exec_t)

type encocoin_conf_t;
files_type(encocoin_conf_t)

type encocoin_var_lib_t;
files_type(encocoin_var_lib_t)

type encocoin_var_run_t;
files_type(encocoin_var_run_t)

type encocoin_port_t;
corenet_port(encocoin_port_t)

########################################
#
# encocoin local policy
#
allow encocoin_t self:process { fork };

allow encocoin_t self:fifo_file rw_fifo_file_perms;
allow encocoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(encocoin_t, encocoin_conf_t, encocoin_conf_t)
manage_files_pattern(encocoin_t, encocoin_conf_t, encocoin_conf_t)

manage_dirs_pattern(encocoin_t, encocoin_var_lib_t, encocoin_var_lib_t)
manage_files_pattern(encocoin_t, encocoin_var_lib_t, encocoin_var_lib_t)
files_var_lib_filetrans(encocoin_t, encocoin_var_lib_t, { dir file })

manage_dirs_pattern(encocoin_t, encocoin_var_run_t, encocoin_var_run_t)
manage_files_pattern(encocoin_t, encocoin_var_run_t, encocoin_var_run_t)

sysnet_dns_name_resolve(encocoin_t)
corenet_all_recvfrom_unlabeled(encocoin_t)

allow encocoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(encocoin_t)
corenet_tcp_sendrecv_generic_node(encocoin_t)
corenet_tcp_sendrecv_all_ports(encocoin_t)
corenet_tcp_bind_generic_node(encocoin_t)

gen_require(`
    type encocoin_port_t;
')
allow encocoin_t encocoin_port_t:tcp_socket name_bind;

gen_require(`
    type encocoin_port_t;
')
allow encocoin_t encocoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(encocoin_t)

files_read_etc_files(encocoin_t)

miscfiles_read_localization(encocoin_t)

sysnet_dns_name_resolve(encocoin_t)

allow encocoin_t encocoin_exec_t:file execute_no_trans;
allow encocoin_t self:process setsched;
corecmd_exec_ls(encocoin_t)
corenet_tcp_connect_http_port(encocoin_t)
dev_read_urand(encocoin_t)
fs_getattr_xattr_fs(encocoin_t)
kernel_read_system_state(encocoin_t)
